#header {
    background-color: black;
    color: white;
    padding: 20px 20px 20px 120px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 80px 20px 0px 20px; 
}

.section {
    flex: 0 1 25%; 
    padding: 30px; 
    background-color: rgb(238, 238, 238);
    border-radius: 25px;
}

#picture {
    margin: 60px 20px 60px 20px; 
    padding: 30px; 
    text-align: center;
    background-color: rgb(238, 238, 238);
    border-radius: 25px;
}

img {
    width: 20%;
    text-align: left;
}

#workButtons {
    margin-top: 80px;
}

button {
    border-radius: 10px;
    padding: 10px; 
    border-width: 1px;
    border-color: rgb(238, 238, 238);
}

#loanButton {
    background-color: green;
    margin-top: 10px;
}

#bankButton {
    background-color: yellow;
}

#workButton {
    background-color: blueviolet;
}

#replayLoanButton {
    background-color: orange;
}

#buyButton {
    background-color: lightblue;
    margin-top: 30px; 
}

select {
    border-radius: 10px;
    padding: 10px; 
    border-width: 1px;
}

#priceAndButton {
    text-align: right;
}